.ag-theme-alpine {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  --ag-font-size: 13px;
  --ag-font-family: Roboto,sans-serif;
}

.ag-header {
  display: flex;
  font-size: 14px;
}

.ag-root-wrapper  {
  border-radius: 5px;
}