.ag-theme-alpine {
  --ag-header-background-color: rgb(148, 148, 148);
  --ag-font-size: 13px;
  --ag-font-family: "Roboto,sans-serif";
}
.ag-header {
  display: flex;
  font-size: 18px;
}

.ag-root-wrapper  {
  border-radius: 10px;
}