<h1 mat-dialog-title>Add Partner</h1>
<div mat-dialog-content>
   <form [formGroup]="partnersForm">
       <mat-form-field appearance="outline">
           <mat-label>Partner Name</mat-label>
           <input formControlName="username" matInput placeholder="Name">
       </mat-form-field>
       <mat-form-field appearance="outline">
           <mat-label>Status</mat-label>
           <mat-select formControlName="partnersEvent" placeholder="Status">
               <mat-option value="ACTIVATE">Activate</mat-option>
               <mat-option value="DEACTIVATE">Deactivate</mat-option>
           </mat-select>
       </mat-form-field>
       <mat-form-field appearance="outline">
           <mat-label>Email</mat-label>
           <input formControlName="email" matInput placeholder="Email">
       </mat-form-field>
   </form>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="warn" mat-dialog-close="close">Close</button>
    <button mat-raised-button color="primary" (click)="addPartner()">{{actionBtn}}</button>
</div>

