#left {
  margin-bottom: 10px;
}


.ag-theme-alpine {
  --ag-font-size: 13px;
  --ag-font-family: "Roboto,sans-serif";
}
.ag-header {
  display: flex;
  font-size: 14px;
}

.ag-root-wrapper  {
  border-radius: 10px;
}

