#download {
  margin-bottom: 10px;
  --bs-btn-color: var(--open-dialog-button);
  --bs-btn-border-color: var(--open-dialog-button);
  --bs-btn-hover-bg: var(--bs-btn-hover);
  --bs-btn-hover-color: var(--open-dialog-button-text-color);
}

.ag-theme-alpine {
  box-shadow: var(--ag-box-shadow);
  display: flex;
  --ag-font-size: 13px;
  --ag-font-family: Roboto,sans-serif;
  --ag-background-color: var(--ag-background-colors);
  --ag-odd-row-background-color: var(--ag--odd-background-colors);
  --ag-data-color: var(--data-color);
}

.ag-header {
  --ag-header-background-color: var(--ag-background-colors);
  --ag-header-foreground-color: var(--data-color);
  display: flex;
  font-size: 14px;
}

.ag-root-wrapper  {
  border-radius: 5px;
}