<div class="container" style="margin: 10px">
    <p class="fs-5 text-center">Login and registration statistics.</p>
    <button id="download"
            class="btn btn-outline-dark"
            (click)="onBtnExportDataAsCsv()">
        <i class="fa fa-download"></i>
        Download CSV
    </button>
<ag-grid-angular
        style="width: 100%; height: 500px;"
        class="ag-theme-alpine ag-root-wrapper ag-header"
        [rowData]="logs"
        [headerHeight]="55"
        [columnDefs]="columnDefs"
        [suppressExcelExport]="true"
        rowSelection='single'
        (gridReady)="BindData($event)">
</ag-grid-angular>
    </div>