<div class="container-fluid g-0">
    <app-header (sideNavToggled)="sideNavStatus = $event;"></app-header>

    <main>
        <app-sidebar [sideNavStatus]="sideNavStatus"
                     [ngClass]="{'app-side-nav-open': sideNavStatus}"></app-sidebar>

        <div class="display-area p-3" [ngClass]="{'display-area-shrink': sideNavStatus}">
            <p class="fs-1 fw-bold fst-italic text-center">Login and registration statistics.
            </p>


            <ag-grid-angular
                    style="width: 100%; height: 500px"
                    class="ag-theme-balham"
                    [rowData]="logs"
                    [columnDefs]="columnDefs"
                    [animateRows]="true"
            >
            </ag-grid-angular>

        </div>
    </main>
</div>

<app-echarts>

</app-echarts>

<app-footer></app-footer>

