<div class="container-fluid g-0" [ngClass]="{'app-side-nav-open': sideNavStatus}" >

    <p class="fs-3 text-center">Login and registration statistics.</p>

            <app-aggreed
                    *ngIf="logs"
                    [logs]="logs"
                    [columnDefs]="columnDefs"
            ></app-aggreed>


                <div>
                    <app-echarts
                            *ngFor="let chart of charts"
                            [chart]="chart">
                    </app-echarts>
                </div>
</div>




