<div class="container-fluid g-0 sidebar-container">
    <main>

    <app-header
            (sideNavToggled)="sideNavStatus = $event;">
    </app-header>

        <app-sidebar [sideNavStatus]="sideNavStatus"
                     [ngClass]="{'app-side-nav-open': sideNavStatus}">
        </app-sidebar>


        <div class="display-area p-3" [ngClass]="{'display-area-shrink': sideNavStatus}">

            <div class="container">
                <router-outlet></router-outlet>
            </div>
        </div>
    <app-footer></app-footer>
    </main>
</div>


