.btn-outline-dark {
  margin-bottom: 10px;
  --bs-btn-color: var(--open-dialog-button);
  --bs-btn-border-color: var(--open-dialog-button);
  --bs-btn-hover-bg: var(--bs-btn-hover);
  --bs-btn-hover-color: var(--open-dialog-button-text-color);
}