/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "ag-grid-community/styles/ag-grid.css";
@import 'ag-grid-community/styles/ag-theme-alpine.css';
@import 'bootstrap/scss/functions';
@import 'ngx-toastr/toastr';


.toast-top-right {
  margin-top: 70px;
}

.light-theme {
  --background-color: rgb(255,255,255);
  --sidebar-color: rgba(34, 34, 34, 1);
  --open-dialog-button: rgb(27, 27, 27); //кнопка диалога home
  --open-dialog-button-text-color: rgb(27, 27, 27); //кнопка диалога home
  --fa-user-color: rgb(27, 27, 27); //иконка диалога home
  --text-color: rgb(19, 19, 19);

  --echarts-text-color: rgb(27,27,27);
}

.dark-theme {
  --background-color: rgb(45, 45, 45);
  --sidebar-color: rgb(27, 27, 27);
  --open-dialog-button: rgb(255, 255, 255); //кнопка диалога home
  --open-dialog-button-text-color: rgb(255, 255, 255); //кнопка диалога home
  --fa-user-color: rgb(255, 255, 255); //иконка диалога home
  --text-color: rgb(255, 255, 255);

  --echarts-text-color: rgb(255,255,255);
}


body {
  background: var(--background-color);
}

.fs-5 {
  color: var(--text-color);
}