/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "ag-grid-community/styles/ag-grid.css";


.gradient-custom {
  background: white;
}

.text-info:hover {
  background: rgba(118, 150, 155, 0.18);
}

.text-info:active {
  background: rgba(100, 149, 237, 0.35);
  transform: scale(0.95);
}

.active {
  background: rgba(59, 70, 138, 0.35);
}

app-sidebar {
  position: absolute;
  left: 0rem;
  top: 78px;
  width: 60px;
  height: calc(120vh - 4rem);
  box-shadow: 0px 0px 10px rgba(255, 0, 0, 0);
  background-color: rgb(27, 30, 33);
  overflow-x: hidden;
  white-space: nowrap;
  transition: width 250ms ease-in;
}

.app-side-nav-open {
  width: 250px;
}

.display-area {
  position: absolute;
  left: 60px;
  width: calc(100% - 60px);
  transition: left 250ms ease-in, width 250ms ease-in;
}
.display-area-shrink {
  left: 250px;
  width: calc(100% - 250px);
}




